# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\desk\icde19-iim-master\randomDataStructure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
